<footer id="footer">
    <div class="container">
        <!-- Logo Group -->
        <div class="logo-group">
            <a aria-label="go back to home" class="logo" href="">
                <img class="logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/images/logo_light.svg"
                    alt="logo" width="240" height="32">
            </a>
            <p class="title xs">
                Get the website you deserve
            </p>
        </div>
        <!-- Links -->
        <ul class="nav">
            <li class="nav-li">
                <span class="header">Sitemap</span>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Services</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Blog</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Contact</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="contact">
            <li class="nav-li">
                <span class="header">Contact</span>
            </li>
            <li class="contact-li">
                <a class="contact-link" href="tel:{{ client.phoneForTel }}"><img src="/images/phone.svg" height="20" width="20" alt="" decoding="async" loading="lazy">{{ client.phoneFormatted }}</a>
            </li>
            <li class="contact-li">
                <a class="contact-link" href="mailto:{{ client.email }}"><img src="/images/envelope.svg" height="20" width="20" alt="" viewBox="0 0 20 20" decoding="async" loading="lazy">{{ client.email }}</a>
            </li>
            <li class="contact-li">
                <span class="contact-link"><img src="/images/location-dot.svg" height="20" width="20" alt="" decoding="async" loading="lazy">Singapore</span>
            </li>
        </ul>
    </div>
    <div class="container copyright">
        <p class="text">© {{ client.year }} {{ client.name }}. Development by <a href="https://hearthwood.netlify.app/" target="_blank" rel="noreferrer">Hearthwood Web Designs</a>. All Rights Reserved</p>
    </div>
</footer>