#hero {
    position: relative;
    padding: calc(132px + clamp(3rem, 10vh, 7rem)) 1rem clamp(4rem, 12vh, 8rem);
    z-index: 0;
    /* ensure it's behind any absolutely positioned children */
}

#hero::before {
    content: '';
    position: absolute;
    /* fixed from "display: absolute" */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* light overlay (or use black for darkening) */
    z-index: -1;
    pointer-events: none;
    /* optional: lets you click "through" the overlay */
}

#hero .button-solid {
    margin-top: var(--fontSize48);
}

.hero-contents {
    margin-bottom: var(--fontSize48)
}


/* Blog */
#blog {
    background-color: var(--primary);
}

#blog h1.title::before {
    content: 'Blog Highlights';
    color: var(--bodyTextColorWhite);
}

#blog .blog-ul {
    list-style: none;
}

#blog .blog-li {
    margin-bottom: var(--fontSize32);
}

#blog .blog-li .date {
    margin-top: 5px;
}

#blog .blog-li .blog-img {
    object-fit: cover;
    height: 270px;
    display: block;
}

#blog .blog-li .teaser {
    margin-bottom: 1rem;
}

#blog .button-solid {
    margin-top: var(--fontSize48);
}


@media (min-width: 64rem) {
    #hero {
        min-height: 100vh;
        padding: calc(132px + clamp(3rem, 10vh, 7rem)) 1rem clamp(4rem, 12vh, 8rem);
        position: relative;
    }

    #blog .blog-li {
        margin-bottom: 0;
    }

    #blog .blog-ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    } }